.ProductCard {
	border: 1px solid black;
	width: 150px;
	margin: 10px;
}

.ProductCard-name {
	margin-top: 5px;
	margin-bottom: 5px;
}

.ProductCard-image_url {
	max-height: 100px;
	width: auto;
	max-width: 100px;
}
